@charset "ISO-8859-1";

body{
	background-color: black;
}

.hero-page{
	background-color: #23424A;
	border: 2px solid black;
	border-radius: 10px;
	color:white;
	padding:4rem 10rem;
	display: flex;
	flex-direction: column;
	margin-top: 10rem;
}

input{
	margin-bottom: 1rem;
}

.btnSubmit{
	padding:1rem 1.5rem;
}

.numbers{
	margin-left: 1rem;
}

.oper{
	letter-spacing: 2px;
	text-transform: uppercase;
}

.mainbtn .btn{
	margin-left: 2em;
}
